@import url(./WB.css);

@font-face {
	font-family: 'CrimsonText';
	src: url(../layouts/fonts/CrimsonText/CrimsonText-SemiBold-VF.woff2)format("woff2"),
        url(../layouts/fonts/CrimsonText/CrimsonText-SemiBold-VF.eot)format("embedded-opentype");
}
@font-face {
    font-family: "NotoSans-JP-VF";
    src:url(../layouts/fonts/NotoSans-JP-VF/NotoSansJP-VF.woff)format("woff");
}


html {
    background-color: var(--c-Background);
    color: var(--c-Main);
    font-family: "NotoSans-JP-VF";
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

  * {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* nav styles */
.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: var(--c-ClearClor);
    border: 1px solid var(--c-BorderMain);
}
.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    text-align:  center;
}

.nav-links > a {
    color: var(--c-Main);
    display: block;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.8rem;
    text-transform: uppercase;
}

.nav-links a:hover {
    background-color: var(--c-CardMain);
    color: var(--c-CardBackground);
}

.logo {
    color: var(--c-Main);
    text-decoration: none;
    font-family: 'CrimsonText';
    font-weight: bold;
}
.Footer-links {
    text-align: center;
}
.Footer-links a {
    color: var(--c-Main);
    margin: 0.2rem 0.15rem;
    font-size: 0.8rem;
    display: block;
}
.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }
    .hamburger {
        display: none;
    }
    .Domain-link-cards {
        display: flex;
        flex-wrap: wrap;
        position: static;
    }
    .Domain-link-card {
        width: 45%;
        margin: 2%;
    }
    .Footer-links {
        display: block;
        position: static;
        width: auto;
        background: none;
    }
    .Footer-links a{
        display: inline-block;
    }
}
@media screen and (max-width: 636px) {
    h1 {
        font-size: 1.8rem;
    }
    .nav-links > a {
        font-size: 1.1rem;
    
    }
    .hamburger {
        float: left;
    }
    .Blog-link-card h2{
        font-size: 1.5rem;
    }
    .index-link-cards {
        padding-inline-start: 0;
    }
}
@media screen and (min-width: 360px) {
    .Domain-link-card {
        display: flex;
    }
}
@media screen and (max-width: 360px) {
    h1 {
        font-size: 1.6rem;
    }
    .Blog-link-card h2{
        font-size: 1.35rem;
    }

}
@media screen and (max-width: 320px) {
    h1 {
        font-size: 1.5rem;
    }
    .Blog-link-card h2{
        font-size: 1.3rem;
    }
    li.Domain-link-card {
        background: linear-gradient(180deg, var(--c-ClearClor) 0%, var(--c-ClearClor) 50%, var(--c-CardBackground) 50%, var(--c-CardBackground) 100%);
    }
}