/*Orange*/
:root {
    --c-Main: black;
    --c-Background: #f68000;
    --c-ClearClor: #526488;
    --c-CardMain: #131010;;
    --c-CardBackground: #fff0e0;
    --c-CardDiscription: #444;;
    --c-BorderMain: #000;
    --c-Shadow: #232323;
}
/*DarkMode*/
html.dark {
    --c-Main: #fff;
    --c-Background: #9c5203;
    --c-ClearClor: #526488;
    --c-CardMain: #fdfafa;
    --c-CardBackground: #7a6e60;
    --c-CardDiscription: #ffffff;
    --c-BorderMain: #fff;
    --c-Shadow: #999898;
}
