/* black and White */
/* デフォルトの配色を定義 */
:root {
    --c-Main: black;
    --c-Background: whitesmoke;
    --c-ClearClor: #111;
    --c-CardMain: #111;
    --c-CardBackground: #f5f0f0;
    --c-CardDiscription: #444;;
    --c-BorderMain: #000;
    --c-Shadow: #232323;
}
  /* ダークモード時に配色が入れ替わるように設定 */
html.dark {
    --c-Main: #fff;
    --c-Background: #000000;
    --c-ClearClor: whitesmoke;
    --c-CardMain: #ffffff;
    --c-CardBackground: #424242;
    --c-CardDiscription: whitesmoke;;
    --c-BorderMain: #fff;
    --c-Shadow: #999898;
}