---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
const lang = "en"
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];


---


<BaseLayout pageTitle={pageTitle}>

<p><span class="logo">What's domains.com</span>はドメイン(<a href="../domains/com">.com</a>,<a href="../domains/net">.net</a>,<a href="../domains/org">.org</a>など)<strong>DOMAINS</strong></p>

    <style>

    </style>
</BaseLayout>