---
export interface Props {
	title: string;
	tags: string;
	description: string;
	href: string;
}

const { href, title, tags, description } = Astro.props;
---

<li class="link-card Domain-link-card">
	<a href={href}>
		<h2>
			{title}
		</h2>
				<p >{description}</p>
	</a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 0.25rem;
		background-image: none;
		background-size: 100%;
		border-radius: 0.6rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
		margin-bottom: 1rem;
		justify-content: center;
		background: linear-gradient(180deg, var(--c-ClearClor) 0%, var(--c-ClearClor) 55%, var(--c-CardBackground) 55%, var(--c-CardBackground) 100%);
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		padding: 1rem 1.3rem;
		color: var(--c-CardMain);
		opacity: 0.8;
	
	}
	h2 {
		margin: 0;
		font-size: 2.0rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		background-size: 200%;
		border-radius: 0.6rem;
		text-align: center;
	}
	p {
		margin-top: 1.5rem;
		margin-bottom: 0;
		color: var(--c-CardDiscription);
	}
	.link-card:is(:hover, :focus-within) {
		background-size: calc(100% - 0.2rem);
		border: 0.1rem solid var(--c-BorderMain);
	}
	
</style>