---
export interface Props {
	title: string;
	tags: string;
	description: string;
	href: string;
}

const { href, title, tags, description } = Astro.props;
---

<li class="link-card Domain-link-card">
	<a href={href}>
		<h2 >
			{title}
		</h2>
		<hr />
		<p >{description}</p>
	</a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		padding: 0.25rem;
		background-image: none;
		background-size: 100%;
		border-radius: 0.6rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		margin-bottom: 1rem;
		justify-content: center;
		border: 0.1rem solid var(--c-BorderMain);
	}
	.link-card > a {
		width: 100%;
		border-radius: 0.4rem;
		text-decoration: none;
		padding: 1rem 1.3rem;
		color: var(--c-CardMain);
		opacity: 0.8;
	
	}
	h2 {
		margin: 0;
		font-size: 2.0rem;
		transition: color cubic-bezier(0.22, 1, 0.36, 1);
		border-radius: 0.6rem;
		text-align: center;
	}
	p {
		margin-top: 1.5rem;
		margin-bottom: 0;
	}
	.link-card:hover a {
		background-color: var(--c-CardMain);
		color: var(--c-CardBackground);
	}
	
</style>