<div class="Footer-links">
    <a href="/osl/">Open Souce Lisence</a>
    <a class="header" href="https://github.com/Pirikan/whatsdomains/" target="_blank" rel="nofollow noopener">GitHub</a>
    <a href="https://forms.gle/yx66hh4Eh9mzjeuk6">Contact</a>
</div>
