---
import BaseLayout from '../../layouts/BaseLayout.astro';
import DomainPost from '../../components/DomainPost.astro';
const allDomains = await Astro.glob('../../pages/domains/*.md');
const pageTitle = "Domains";
---

<BaseLayout pageTitle={pageTitle}>
    


    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        {allDomains.map((post) => <DomainPost post={post} />)}
    </ul>
</BaseLayout>